body {
    background-color: hsl(218, 23%, 16%);
}

.card {
    background-color: hsl(217, 19%, 24%);
    width: 330px;
    height: 200px;
    border-radius: 6px;
    position: absolute;
    top: 35%;
    left: 35%;
}